html {
    overflow-y: scroll; /* Always show vertical scrollbar */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
}

.center-column {
    max-width: 800px;
    background-color: #fff;
    padding: 100px 80px 100px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 40px; /* Fixed top margin */
    margin-bottom: 40px; /* Fixed bottom margin */
    position: relative; /* Ensure relative positioning for absolute child */
}

.tech-stack-image {
    width: 80%; /* Constrain image to within center column */
    height: auto; /* Maintain aspect ratio */
}

#banner {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 0px;
    margin-top: 30px;
}

nav {
    border-top: 4px solid rgb(193, 193, 193);
    border-bottom: 4px solid rgb(193, 193, 193);
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around; /* Distribute space evenly */
    margin: 0;
    width: 100%; /* Ensure the nav takes full width */
}

nav ul li {
    flex: 1; /* Make each list item take equal space */
    text-align: center; /* Center the text within each list item */
}

nav ul li a.current-page {
    color: teal;
}

nav ul li a {
    text-decoration: none;
    color: Gray;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.text-box {
    margin-top: 0px;
    padding: 10px;
    text-align: left;
    color: gray; /* Text color */
    line-height: 2; /* Increased line spacing */
    font-size: 18px; /* Increased font size */
}

.cv-page .text-box {
    line-height: 1.5; /* Set line spacing to 1 for CV page */
}


.cv-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.cv-header p {
    flex: 1;
}

.cv-photo {
    width: 200px; /* Adjust size as needed */
    height: auto;
    margin-right: 5%;
}
    

.bottom-border {
    border-top: 4px solid rgb(193, 193, 193);
    margin-top: 20px;
}

/* New styles for all links */
a {
    text-decoration: none;
    color: teal;
}

a:hover {
    text-decoration: underline;
}

.bottom-left-logo {
    position: absolute;
    bottom: 60px; /* Adjust to align with the bottom border */
    left: 80px;
    width: 20px; /* Adjust size as needed */
    height: auto;
}

/* Media query for mobile devices */
@media (max-width: 800px) {
    .center-column {
        width: 100%;
        padding: 20px; /* Adjust padding for smaller screens */
        padding-bottom: 80px; /* Add more bottom padding */
        margin-top: 0; /* Remove top margin */
        margin-bottom: 0; /* Remove bottom margin */
    }

    .tech-stack-image {
        width: 100%; /* Constrain image to within center column */
        height: auto; /* Maintain aspect ratio */
    }

    .bottom-left-logo {
        display: none; /* Hide the bottom-left logo on mobile views */
    }
}

/* Page transitions 
body {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

body.fade-in {
    opacity: 1;
}
*/